li.cordas {

display:block;
width:100%;
padding-top:1em;
padding-bottom:1em;
text-align:center;
vertical-align:middle;
font-size:150%;
font-family: "Avant Garde" , "Century Gothic", "AppleGothic", sans-serif;
border-bottom:1px solid #B8B8E6;
text-shadow:2px 2px #CBCBEC;
transition:background-color 0.1s;
}

li.cordas:active{
background-color:#CBCBEC;
text-shadow:2px 2px #A2A2BD;
}
